*
{
    padding: 0px;
    margin: 0px;
}
.container
{
    width: 100%;
    background-color:#cecfcf;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.container .row1
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #cecfcf;
    border: 0.3rem solid rgb(247, 99, 62);
}
.container .row1 .col1
{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;
    
}

.container .row1 .col2
{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;
    
}



.container .row1 .col3
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;    
}

.container .row1 .col4
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;
}

.container .row1 .col5
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;
}


.container .row1 .col6
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-left:1rem ;
    padding-right:1rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;
}


.container .row1 .col4 .extra {
    display: none;
    margin-top: 1rem;
    border: 2px solid #000000;
    border-radius: 8px;
}

#yes:checked ~ .extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-bottom:0.04rem ;
    padding-top:0.04rem ;

}

.error {
  outline: 2px solid red !important;
  outline-offset: 2px;
}

.msg {
  color: red;
  font-size: 12px;
}



.container .box
{
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.container .box1
{
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    
}


input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;

}

input[type="radio"]
{
    margin-right: 6px;
}

.box form{
    display: flex;
    gap: 1rem;
    align-items: center;
}

input[type="submit"]
{
    width: 30%;
    padding: 0.9rem;
    background-color: coral;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
}

@media(max-width: 768px)
{
    .container .row1 .col1
    {
        grid-template-columns: 1fr;
    }

    .container .row1 .col2
    {
        grid-template-columns: 1fr;
    }

    .container .row1 .col3
    {
        grid-template-columns: 1fr;
    }
    
    .container .row1 .col4
    {
        grid-template-columns: 1fr;
    }

    .container .row1 .col5
    {
        grid-template-columns: 1fr;
    }



}
